<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KituraBuildServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KituraBuildServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
